@import "tailwindcss";
@plugin './hero.ts';
@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

:root {
  --app-light: #ffffff;
  --app-dark: #000000;
  --app-primary: #000000;
  --app-secondary: #ffffff;
  --background: var(--app-light);
  --foreground: var(--app-dark);
  --text-light: var(--app-light);
  --text-dark: var(--app-dark);
  /* --primary: #86D05D;
  --secondary: #173CA0; */
  --primary: var(--app-primary);
  --secondary: var(--app-secondary);
  --heroui-danger: 8 90% 40%;
  --heroui-success: 120 87% 40%;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.light {
  --background: var(--app-light);
  --foreground: var(--app-dark);
  --text-light: var(--app-dark);
  --text-dark: var(--app-light);
  --background-rgb: 255 255 255;
}


html,
body {
  background-color: var(--background);
  color: var(--foreground); /* optional: default text color */
  min-height: 100%;
}

img {
  -webkit-user-select: auto;
  -webkit-backface-visibility: hidden;
  -webkit-print-color-adjust: exact;
  color-adjust: exact;
  -webkit-filter: none !important;
  filter: none !important;
}

input {
  color: var(--primary);
}

.gradient-overlay:hover {
  /* On hover of the container, make the overlay visible */
  opacity: 0.2;
}

